<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">    
        <h1 style="font-weight: bold;">{{code}}</h1>
        {{>header}}

        <h2>{{message}}</h2>
        
    </div>

    {{>footer}}
</body>
</html>