<!DOCTYPE html>

<html>

<head>
      <link rel="icon" href="/img/weather.png">
      <title>About</title>
      <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
      <div class="main-content">
            {{>header}}
            <img src="/img/robot.png" alt="robot" class="portrait">
            {{!-- <p>Created by {{name}}</p> --}}
      </div>

      {{>footer}}
</body>

</html>