<!DOCTYPE html>

<html>

<head>
      <link rel="icon" href="/img/weather.png">
      <title>About</title>
      <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
      <div class="main-content">
            {{>header}}
            <img src="https://f.v1.n0.cdn.getcloudapp.com/items/0L2l2K3f3e1H2o1O3p0f/robot.png" alt="robot" class="portrait">
            {{!-- <p>Created by {{name}}</p> --}}
      </div>

      {{>footer}}
</body>

</html>