<!DOCTYPE html>

<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/img/weather.png">
      <title>About</title>
      <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
      <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}}. It uses data from weatherstack.com!</p>
            <img src="https://avatars1.githubusercontent.com/u/46083126?s=400&v=4" alt="bryan" class="portrait">
            {{!-- <p>Created by {{name}}</p> --}}
      </div>

      {{>footer}}
</body>

</html>