<!DOCTYPE html>

<html>

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Weather</title>
      <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
      <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather</p>

            <form action="">
                  <input type="text" placeholder="Location">
                  <button>Search</button>
            </form>


            <div id="cardId" class="card">
                  <img id="message-icons" class="card-icons" src="" alt="weather-icons">
                  <p id="message-location" class="card-location"></p>
                  <h1 id="message-temperature" class="card-temperature"></h1>
                  <p id="message-precip" class="card-precip"></p>
                  <p id="message-description" class="card-description"></p>
            </div>
            
      </div>

      
      

      {{> footer}}

      <script src="/js/app.js"></script>
</body>

</html> 