<footer>
    <p>
        Created by {{name}} &copy; 2020 
        <a href="https://github.com/bryantobing12/weather-app">
            <img style="width:50px" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" alt="github-logo">
        </a>
    </p>
</footer>